In [2]:
import numpy as np
import pandas as pd

In [3]:
application_train = pd.read_csv("D:/Edukron_syllabus/datasets/application_train.csv")

# DATA UNDERSTANDING

In [4]:
application_train.shape

(307511, 122)

### Load the dataset and display the first 5 rows

In [5]:
application_train.head(30)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.000,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.000,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.000,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.000,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.000,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,100008,0,Cash loans,M,N,Y,0,99000.000,490495.5,27517.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
6,100009,0,Cash loans,F,Y,Y,1,171000.000,1560726.0,41301.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,2.0
7,100010,0,Cash loans,M,Y,Y,0,360000.000,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
8,100011,0,Cash loans,F,N,Y,0,112500.000,1019610.0,33826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
9,100012,0,Revolving loans,M,N,Y,0,135000.000,405000.0,20250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
10,100014,0,Cash loans,F,N,Y,1,112500.000,652500.0,21177.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
11,100015,0,Cash loans,F,N,Y,0,38419.155,148365.0,10678.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
12,100016,0,Cash loans,F,N,Y,0,67500.000,80865.0,5881.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
13,100017,0,Cash loans,M,Y,N,1,225000.000,918468.0,28966.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
14,100018,0,Cash loans,F,N,Y,0,189000.000,773680.5,32778.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
15,100019,0,Cash loans,M,Y,Y,0,157500.000,299772.0,20160.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
16,100020,0,Cash loans,M,N,N,0,108000.000,509602.5,26149.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,0.0
17,100021,0,Revolving loans,F,N,Y,1,81000.000,270000.0,13500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
18,100022,0,Revolving loans,F,N,Y,0,112500.000,157500.0,7875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
19,100023,0,Cash loans,F,N,Y,1,90000.000,544491.0,17563.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
20,100024,0,Revolving loans,M,Y,Y,0,135000.000,427500.0,21375.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
21,100025,0,Cash loans,F,Y,Y,1,202500.000,1132573.5,37561.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
22,100026,0,Cash loans,F,N,N,1,450000.000,497520.0,32521.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,5.0
23,100027,0,Cash loans,F,N,Y,0,83250.000,239850.0,23850.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
24,100029,0,Cash loans,M,Y,N,2,135000.000,247500.0,12703.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
25,100030,0,Cash loans,F,N,Y,0,90000.000,225000.0,11074.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
26,100031,1,Cash loans,F,N,Y,0,112500.000,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
27,100032,0,Cash loans,M,N,Y,1,112500.000,327024.0,23827.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
28,100033,0,Cash loans,M,Y,Y,0,270000.000,790830.0,57676.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
29,100034,0,Revolving loans,M,N,Y,0,90000.000,180000.0,9000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

### Check the shape and column types of the dataset

In [6]:
rows,columns = application_train.shape

In [7]:
rows

307511

In [8]:
columns

122

In [9]:
application_train.dtypes

SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

In [10]:
application_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [11]:
application_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

### Get a summary of all numeric columns using .describe()

In [12]:
application_train.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

### Count total missing values column-wise

In [13]:
application_train.isna().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64

### Display unique values in NAME_CONTRACT_TYPE.

In [14]:
application_train['NAME_CONTRACT_TYPE'].unique()

array(['Cash loans', 'Revolving loans'], dtype=object)

In [15]:
application_train['NAME_CONTRACT_TYPE'].nunique()

2

# DATA CLEANING

### 1. Replace all empty strings or spaces with NaN

In [16]:
application_train.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [17]:
application_train.isna().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64

### 2. Fill missing values in AMT_ANNUITY with the median.

In [18]:
application_train['AMT_ANNUITY'].isna().sum()

np.int64(12)

In [19]:
application_train['AMT_ANNUITY'].fillna(application_train['AMT_ANNUITY'].median(),inplace = True)

C:\Users\cherry\AppData\Local\Temp\ipykernel_14716\2424741431.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  application_train['AMT_ANNUITY'].fillna(application_train['AMT_ANNUITY'].median(),inplace = True)

In [20]:
application_train['AMT_ANNUITY'].median()

np.float64(24903.0)

In [22]:
application_train['AMT_ANNUITY'].isna().sum()

np.int64(0)

In [23]:
application_train['AMT_ANNUITY']

0         24700.5
1         35698.5
2          6750.0
3         29686.5
4         21865.5
           ...
307506    27558.0
307507    12001.5
307508    29979.0
307509    20205.0
307510    49117.5
Name: AMT_ANNUITY, Length: 307511, dtype: float64

### 3. Drop rows where CODE_GENDER is null.

In [24]:
application_train['CODE_GENDER'].isna().sum()

np.int64(0)

In [25]:
application_train['CODE_GENDER'].value_counts()

CODE_GENDER
F      202448
M      105059
XNA         4
Name: count, dtype: int64

In [30]:
application_train['CODE_GENDER'].unique()

array(['M', 'F', 'XNA'], dtype=object)

In [32]:
application_train.dropna(subset = ['CODE_GENDER'],inplace = True)

### 4. Replace 'XNA' in CODE_GENDER with the mode

In [35]:
application_train['CODE_GENDER'].mode()

0    F
Name: CODE_GENDER, dtype: object

In [36]:
application_train['CODE_GENDER'].replace('XNA',application_train['CODE_GENDER'].mode()[0],inplace = True)

C:\Users\cherry\AppData\Local\Temp\ipykernel_14716\3742626856.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  application_train['CODE_GENDER'].replace('XNA',application_train['CODE_GENDER'].mode()[0],inplace = True)

In [37]:
application_train['CODE_GENDER'].unique()

array(['M', 'F'], dtype=object)

In [38]:
application_train['CODE_GENDER'].value_counts()

CODE_GENDER
F    202452
M    105059
Name: count, dtype: int64

### 5. Remove duplicate rows if any

In [39]:
duplicate_count = application_train.duplicated().sum()
print(duplicate_count)

0

In [40]:
application_train.drop_duplicates(inplace=True)

# DATA EXPLORATION

### 1. Count how many people have NAME_CONTRACT_TYPE = Cash loans

In [47]:
application_train['NAME_CONTRACT_TYPE'].value_counts()

NAME_CONTRACT_TYPE
Cash loans         278232
Revolving loans     29279
Name: count, dtype: int64

In [49]:
application_train['NAME_CONTRACT_TYPE']

0              Cash loans
1              Cash loans
2         Revolving loans
3              Cash loans
4              Cash loans
               ...
307506         Cash loans
307507         Cash loans
307508         Cash loans
307509         Cash loans
307510         Cash loans
Name: NAME_CONTRACT_TYPE, Length: 307511, dtype: object

In [54]:
application_train[application_train['NAME_CONTRACT_TYPE'] == 'Cash loans'].shape[0]

278232

### 2. How many applicants are male vs female

In [57]:
application_train['CODE_GENDER'].value_counts()

CODE_GENDER
F    202452
M    105059
Name: count, dtype: int64

### 3. What is the average AMT_CREDIT by NAME_CONTRACT_TYPE

In [59]:
application_train.groupby('NAME_CONTRACT_TYPE')['AMT_CREDIT'].mean()

NAME_CONTRACT_TYPE
Cash loans         627965.732538
Revolving loans    324017.982172
Name: AMT_CREDIT, dtype: float64

### 4. Group by NAME_INCOME_TYPE and find the mean AMT_INCOME_TOTAL

In [63]:
application_train['NAME_INCOME_TYPE'].unique()

array(['Working', 'State servant', 'Commercial associate', 'Pensioner',
       'Unemployed', 'Student', 'Businessman', 'Maternity leave'],
      dtype=object)

In [64]:
application_train['NAME_INCOME_TYPE'].value_counts()

NAME_INCOME_TYPE
Working                 158774
Commercial associate     71617
Pensioner                55362
State servant            21703
Unemployed                  22
Student                     18
Businessman                 10
Maternity leave              5
Name: count, dtype: int64

In [65]:
application_train.groupby('NAME_INCOME_TYPE')['AMT_INCOME_TOTAL'].mean()

NAME_INCOME_TYPE
Businessman             652500.000000
Commercial associate    202955.327289
Maternity leave         140400.000000
Pensioner               136401.292273
State servant           179737.969506
Student                 170500.000000
Unemployed              110536.363636
Working                 163169.889223
Name: AMT_INCOME_TOTAL, dtype: float64

### 5. Sort top 10 applicants with highest AMT_INCOME_TOTAL

In [73]:
application_train['AMT_INCOME_TOTAL'].max()

np.float64(117000000.0)

In [74]:
application_train['AMT_INCOME_TOTAL'].min()

np.float64(25650.0)

In [77]:
application_train.sort_values('AMT_INCOME_TOTAL',ascending= False).head(10)

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
12840,114967,1,Cash loans,F,N,Y,1,117000000.0,562491.0,26194.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
203693,336147,0,Cash loans,M,Y,Y,2,18000090.0,675000.0,69295.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246858,385674,0,Cash loans,M,Y,Y,0,13500000.0,1400503.5,130945.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
77768,190160,0,Cash loans,F,Y,N,0,9000000.0,1431531.0,132601.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
131127,252084,0,Cash loans,M,Y,N,0,6750000.0,790830.0,52978.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
103006,219563,0,Revolving loans,M,Y,Y,0,4500000.0,2250000.0,225000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
287463,432980,0,Cash loans,M,Y,Y,0,4500000.0,1755000.0,61132.5,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,0.0
187833,317748,0,Cash loans,M,N,N,0,4500000.0,835380.0,42651.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
204564,337151,0,Cash loans,M,N,N,0,4500000.0,450000.0,47749.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
181698,310601,0,Cash loans,M,Y,Y,1,3950059.5,675000.0,66217.5,...,1,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0

# AGGREGATION & GROUPING

### 1. Count number of applicants per OCCUPATION_TYPE

In [80]:
application_train['OCCUPATION_TYPE'].value_counts()

OCCUPATION_TYPE
Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
Name: count, dtype: int64

### 2. Find mean, median, and std dev of AMT_CREDIT grouped by TARGET

In [82]:
application_train.groupby('TARGET')['AMT_CREDIT'].describe()

,count,mean,std,min,25%,50%,75%,max
TARGET,,,,,,,,
0,282686.0,602648.282002,406845.907710,45000.0,270000.0,517788.0,810000.0,4050000.0
1,24825.0,557778.527674,346433.235646,45000.0,284400.0,497520.0,733315.5,4027680.0

In [83]:
application_train.groupby('TARGET')['AMT_CREDIT'].median()

TARGET
0    517788.0
1    497520.0
Name: AMT_CREDIT, dtype: float64

### 3. Create a pivot table of AMT_CREDIT vs NAME_EDUCATION_TYPE and TARGET

In [84]:
import pandas as pd

pivot_table = pd.pivot_table(application_train, 
                             values='AMT_CREDIT', 
                             index='NAME_EDUCATION_TYPE', 
                             columns='TARGET', 
                             aggfunc='mean')

print(pivot_table)

TARGET                                     0              1
NAME_EDUCATION_TYPE
Academic degree                719290.844720  950245.500000
Higher education               692438.297379  645981.010851
Incomplete higher              569696.524880  534740.986239
Lower secondary                490749.537511  481589.525180
Secondary / secondary special  574033.649640  542263.182160

### 4. Count how many applicants own a car vs not (FLAG_OWN_CAR)

In [85]:
application_train['FLAG_OWN_CAR'].value_counts()

FLAG_OWN_CAR
N    202924
Y    104587
Name: count, dtype: int64

### 5. Find average DAYS_BIRTH grouped by NAME_FAMILY_STATUS

In [91]:
application_train.groupby('NAME_FAMILY_STATUS')['DAYS_BIRTH'].mean()

NAME_FAMILY_STATUS
Civil marriage         -15160.057565
Married                -16067.452274
Separated              -16921.698938
Single / not married   -14336.475772
Unknown                -12620.000000
Widow                  -21004.839508
Name: DAYS_BIRTH, dtype: float64

# FEATURE ENGINEERING

### 1. Create a new column: AGE_YEARS = -DAYS_BIRTH / 365

In [98]:
application_train['AGE_YEARS'] = -application_train['DAYS_BIRTH']/365

In [99]:
application_train['AGE_YEARS']

0         25.920548
1         45.931507
2         52.180822
3         52.068493
4         54.608219
            ...
307506    25.553425
307507    56.917808
307508    41.002740
307509    32.769863
307510    46.180822
Name: AGE_YEARS, Length: 307511, dtype: float64

In [100]:
application_train.shape

(307511, 123)

### 2. Create a new column: CREDIT_INCOME_RATIO = AMT_CREDIT / AMT_INCOME_TOTAL.

In [102]:
application_train['CREDIT_INCOME_RATIO'] = application_train['AMT_CREDIT']/application_train['AMT_INCOME_TOTAL']

In [103]:
application_train['CREDIT_INCOME_RATIO']

0         2.007889
1         4.790750
2         2.000000
3         2.316167
4         4.222222
            ...
307506    1.617143
307507    3.743750
307508    4.429176
307509    2.164368
307510    4.285714
Name: CREDIT_INCOME_RATIO, Length: 307511, dtype: float64

In [104]:
application_train.shape

(307511, 124)

### 3. Bin AGE_YEARS into 5 quantile-based age groups

In [107]:
application_train['AGE_GROUP'] = pd.qcut(application_train['AGE_YEARS'], q=5,labels=['Young', 'Mid-Young', 'Middle-Aged', 'Mid-Old', 'Old'])

In [108]:
application_train['AGE_GROUP']

0               Young
1         Middle-Aged
2             Mid-Old
3             Mid-Old
4             Mid-Old
             ...
307506          Young
307507            Old
307508    Middle-Aged
307509      Mid-Young
307510    Middle-Aged
Name: AGE_GROUP, Length: 307511, dtype: category
Categories (5, object): ['Young' < 'Mid-Young' < 'Middle-Aged' < 'Mid-Old' < 'Old']

### 4. Encode FLAG_OWN_CAR as binary

In [120]:
application_train['FLAG_OWN_CAR']

0         N
1         N
2         Y
3         N
4         N
         ..
307506    N
307507    N
307508    N
307509    N
307510    N
Name: FLAG_OWN_CAR, Length: 307511, dtype: object

In [121]:
application_train['FLAG_OWN_CAR'] = application_train['FLAG_OWN_CAR'].map({'Y': 1, 'N': 0})

In [122]:
application_train['FLAG_OWN_CAR']

0         0
1         0
2         1
3         0
4         0
         ..
307506    0
307507    0
307508    0
307509    0
307510    0
Name: FLAG_OWN_CAR, Length: 307511, dtype: int64

In [123]:
application_train.shape

(307511, 125)

### 5. Extract year from DAYS_EMPLOYED

In [124]:
application_train['DAYS_EMPLOYED']

0           -637
1          -1188
2           -225
3          -3039
4          -3038
           ...
307506      -236
307507    365243
307508     -7921
307509     -4786
307510     -1262
Name: DAYS_EMPLOYED, Length: 307511, dtype: int64

In [128]:
application_train['EMPLOYMENT_YEARS'] = abs(application_train['DAYS_EMPLOYED']) / 365

In [129]:
application_train['EMPLOYMENT_YEARS']

0            1.745205
1            3.254795
2            0.616438
3            8.326027
4            8.323288
             ...
307506       0.646575
307507    1000.665753
307508      21.701370
307509      13.112329
307510       3.457534
Name: EMPLOYMENT_YEARS, Length: 307511, dtype: float64

In [130]:
application_train.shape

(307511, 126)