# Control Structures or Conditional Statements

## "if" , "if else", "if elif else"

In [ ]:
if condition:
    print("statement")

In [4]:
x=10
if x>2:
    print("Greater")
    print("Edukron")

Greater
Edukron

In [6]:
x="datascience"
if x.isalpha():
    print("test")

test

In [8]:
x="123"
if x.isalnum() and len(x)<5:
    print("test")

test

In [9]:
x="Data"
if x.startswith("d".upper()):
    print("test")
else:
    print("edukron")

test

#### " To take input from user we need to use input() function.This is also known as dynamic input "

In [10]:
username = input()
password = input()

if username == "admin" and password == "admin123":
    print("Login successful")
else:
    print("Invalid credentials")

 admin
 admin1233

Invalid credentials

In [11]:
x=1
y=20
if x>2:
    x=x+200
else:
    y=200+x
print(x,y)

1 201

In [12]:
x=1
y=20
if x>5:
    x=x+5
    y=x-2
    x=y+2
else:
    x=x+1
    y=y+2
print(x,y)

2 22

## Examples for practice

### Example 1

In [16]:
x = 1
y = 20
if x > 5:
    x = x + 5
    y = x - 2
    x = y + 2
else:
    x = x + 1
    y = y + 2
print("Example 1:", x, y)

Example 1: 2 22

### Example 2

In [19]:
a = 10
b = 5
if a < b:
    a += 2
    b += 3
else:
    a -= 2
    b *= 2
print("Example 2:", a, b)

Example 2: 8 10

### Example 3

In [22]:
x = 3
y = 7
if x * 2 > y:
    x = x * 2
    y = y - 1
else:
    y = y + 3
    x = y - x
print("Example 3:", x, y)

Example 3: 7 10

### Example 4

In [25]:
p = 12
q = 3
if p / q == 4:
    p = p + q
else:
    p = p - q
print("Example 4:", p, q)

Example 4: 15 3

### Example 5

In [26]:
x = 11
y = 8
if x % 2 == 0:
    y = y + 1
else:
    x = x + 2
    y = y - 2
print("Example 5:", x, y)

Example 5: 13 6

### Example 6

In [49]:
a = 5
b = 15
if a > 2 and b < 20:
    a = a * 2
    b = b - 5
else:
    a = a + b
print("Example 6:", a, b)

Example 6: 10 10

### Example 7

In [30]:
x = 4
y = 9
if y > x:
    x = x + y
    y = y - x
else:
    x = x - y
print("Example 7:", x, y)

Example 7: 13 -4

### Example 8

In [31]:
a = 8
b = 12
if a == b:
    a = a * b
else:
    b = b - a
print("Example 8:", a, b)

Example 8: 8 4

### Example 9

In [32]:
x = 6
y = 6
if x >= y:
    x = x ** 2
    y = y + 1
else:
    y = y ** 2
print("Example 9:", x, y)

Example 9: 36 7

### Example 10

In [33]:
a = 2
b = 18
if b % a == 0:
    b = b // a
else:
    a = b % a
print("Example 10:", a, b)

Example 10: 2 9

# Loops

### For Loop (Strings, lists, tuples)

In [35]:
x="data7"
for i in x:
    print(i.isalpha(),end = ',')

True,True,True,True,False,

In [36]:
x=[1,2,3,"data",[4,5,6,"Data"]]
for i in x:
    print(i)
    print(len(str(i)))

1
1
2
1
3
1
data
4
[4, 5, 6, 'Data']
17

In [37]:
x="Data science and data engineering"
for i in x.split():
    print(len(i))

4
7
3
4
11

In [48]:
for i in range(1,6):
    print(i,end=',')

1,2,3,4,5,

In [40]:
for i in range(1,6):
    print(i,end='\n')

1
2
3
4
5

In [41]:
for i in range(1,6,2):
    print(i,end=',')

1,3,5,

In [42]:
for i in range(1,50,2):
    print(i,end=',')

1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,

In [47]:
for i in range(49,0,-2):
    print(i,end=',')

49,47,45,43,41,39,37,35,33,31,29,27,25,23,21,19,17,15,13,11,9,7,5,3,1,

# Pattern Program Examples

In [50]:
"*"*4

'****'

In [51]:
for i in [1,2,3,4,5]:
    print(i*"*")

*
**
***
****
*****

In [52]:
for i in [1,2,3,4,5]:
    print("*"*(6-i))

*****
****
***
**
*

In [57]:
for i in [1,2,3,4,5]:
    print("*"*(i))
for i in [1,2,3,4,5]:
    print("*"*(6-i))

*
**
***
****
*****
*****
****
***
**
*

In [59]:
for i in range(1,6):
    print((6-i)*" "+i*"!")

     !
    !!
   !!!
  !!!!
 !!!!!